@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Saira;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  color: #323232;
}

.btn-bg {
  border-radius: 10px;
  background: linear-gradient(102deg, #083F9B 0%, #7F56D9 93.39%);
}

