@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: 'Saira';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
}

.btn-bg {
  border-radius: 10px;
  background: linear-gradient(102deg, #083F9B 0%, #7F56D9 93.39%);
}

.container {
  max-width: 1670px;
  padding: 0 20px;
  margin: 0 auto;
}
@font-face {
  font-family: 'Saira';
  src: url('../../public/fonts/Saira/Saira-VariableFont_wdth\,wght.ttf');
  font-style: normal;
}
@font-face {
  font-family: 'Rowdies';
  src: url('../../public/fonts/Rowdies/Rowdies-Bold.ttf');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Rowdies';
  src: url('../../public/fonts/Rowdies/Rowdies-Bold.ttf');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Rowdies';
  src: url('../../public/fonts/Rowdies/Rowdies-Bold.ttf');
  font-style: normal;
  font-weight: 700;
}